<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
  <div class="top-row w-row"></div>

  <div class="tiles">
    <div class="tile column" *ngFor="let tile of tiles">
      <img width="300px" src="{{ tile.image }}" *ngIf="tile.image" />
      
      <span class="text" *ngIf="!tile.image">{{ tile.text }}</span>

      <span class="flex"></span>
      <span class="footer">{{ tile.footer }}</span>
    </div>
  </div>



</body>
</html>
