body {
    background-color: white;
}

h1{
    text-align: center;
}

.animal{
    font-family: fantasy;
}
.secret{
    opacity: 0.5;
}
table, th, td{
    border: 1px solid grey;
    text-align: center;
}